#productMain{
    height:95%;
    flex:1;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content: space-between;
}

/* From Uiverse.io by alexruix */ 
.productcard {
    width:30%;
    max-width: 350px;
    height: fit-content;
    padding: .8em;
    background: white;
    position: relative;
    overflow: visible;
    margin-bottom: 35px;
}
   
.card-img {
    background-color: #ffcaa6;
    height: 250px;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}
   
.card-info {
    padding-top: 10%;
}
   
svg {
    width: 20px;
    height: 20px;
}
   
.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
   
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}
   
.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}