#sideNavMain{
    background: white;
    height:100%;
    width:90%;
    padding:20px;
    border:2px solid #eee;
    border-radius: 20px;
 }

.button{
    width:100%;
    background: #fff;
    border-radius: 8px;
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 2px;
    color:#626262;
    display:flex;
    align-items:center;
    gap:15px;
    cursor:pointer;
    font-size: 1.1rem;
}

.button:hover{
    background: #eee;
    color:black;
}

.button:hover box-icon{
    color:black;
}

#navBarButtons{
    margin-top:20px;
}